@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@300;400;700&display=swap');
/*font-family: 'Josefin Sans', sans-serif;*/

body{
	font-family: 'Josefin Sans', sans-serif!important;
}

	/*header css*/
.myNav{
	padding: 25px 0px;s
}
.myBrand{
	font-size: 25px;
	font-weight: 200;
}
.myUl li a{
	margin-right: 20px;
	text-transform: uppercase;
	display: inline-block;
}
.myUl li:last-child a{
	margin-right: 0px;
}
.myUl li a:hover{
	text-decoration: underline;
}

	/*banner css*/
.banner_contant{
	margin: 35px 0px 0px 40px;
}
.banner_contant h1{
	font-size: 60px;
	font-weight: 900;
	color: rgb(59, 64, 69);
}
.banner_contant p{
	font-size: 20px;
	font-weight: 300;
	color: rgb(59, 64, 69);
	padding-bottom: 10px;
}
.banner_contant a{
	font-size: 18px;
	color: #fff;
	display: inline-block;
	background-color: rgb(250, 178, 88);
	padding: 12px 30px;
	border-radius: 30px;
	-webkit-box-shadow: 0px 18px 17px -13px rgb(250, 178, 88); 
	box-shadow: 0px 18px 17px -13px rgb(250, 178, 88);
}
	
	/*core css*/
.core{
	margin-bottom: 100px;
}
.core h1{
	font-size: 40px;
	font-weight: 700;
	color: rgb(60, 60, 60);
	text-align: center;
	margin: 100px 0px;
}
.core_con h2{
	font-size: 20px;
	font-weight: 700;
	margin-bottom: 0px;
	padding: 18px 0px;
}
.core_con p{
	font-size: 18px;
	font-weight: 300;
	color: rgb(122, 125, 141);
}
.core_con i{
	font-size: 25px;
}

	/*design css*/
.design{
	background-color: #F9A743;
	padding-top: 55px;
	padding-bottom: 90px;
}
.design_contant{
	margin: 110px 0px 0px 45px;
}
.design_contant h1{
	font-size: 32px;
	font-weight: 900;
	color: #fff;
}
.design_contant p{
	font-size: 18px;
	font-weight: 300;
	color: #fff;
	padding-top: 10px;
}

	/*apple css*/
.apple{
	margin: 100px 0px;
}
.apple h1{
	font-size: 40px;
	font-weight: 700;
	color: rgb(60, 60, 60);
	text-align: center;
	margin-bottom: 45px;
}
.apple_contant{
	margin: 97px 0px 0px 45px;
}
.apple_contant h2{
	font-size: 32px;
	font-weight: 900;
	color: rgb(60, 60, 60);
}
.apple_contant p{
	font-size: 18px;
	font-weight: 300;
	color: rgb(60, 60, 60);
	padding-top: 10px;
}
.apple_contant a{
	font-size: 18px;
	color: #fff;
	display: inline-block;
	background-color: rgb(250, 178, 88);
	padding: 12px 30px;
	margin-top: 15px;
	border-radius: 30px;
	-webkit-box-shadow: 0px 18px 17px -13px rgb(250, 178, 88); 
	box-shadow: 0px 18px 17px -13px rgb(250, 178, 88);
}

	/*checkout css*/
.checkout{
	margin: 180px 0px 80px 0px;
}
.checkout h1{
	font-size: 40px;
	font-weight: 700;
	color: rgb(60, 60, 60);
	text-align: center;
	margin-bottom: 90px;
}

	/*update css*/
.update{
	background: url(../img/background-update.jpg) rgba(0,0,0,0.6);
	background-repeat: no-repeat;
	background-position: center;
	text-align: center;
}
.myBtnsus{
	background-image: none!important;
	background-color: black!important;
}
.update h1{
	font-size: 32px;
	font-weight: 700;
	color: #fff;
}
.update p{
	font-size: 18px;
	font-weight: 300;
	color: #fff;
}

	/*us css*/
.us{
	padding: 100px 0px;
	text-align: center;
}
.us i{
	font-size: 40px;
	color: rgb(250, 176, 84);
	margin-bottom: 20px;
}
.us p{
	font-weight: 300;
	font-style: italic;
	color: rgb(119, 119, 119);
}
.us h2{
	font-size: 20px;
	font-weight: 700;
	color: rgb(59, 64, 69);
	margin-top: 20px;
}
.us span{
	font-weight: 300;
}
.us a{
	font-size: 18px;
	color: #fff;
	display: inline-block;
	background-color: rgb(250, 178, 88);
	padding: 12px 30px;
	margin-top: 85px;
	border-radius: 30px;
	-webkit-box-shadow: 0px 18px 17px -13px rgb(250, 178, 88); 
	box-shadow: 0px 18px 17px -13px rgb(250, 178, 88);
}

	/*footer css*/
.footer{
	text-align: center;
	background-color: #F4F4F4;
	padding: 50px 0px;
}
.footer #a{
	font-size: 25px;
	font-weight: 300;
	text-decoration: underline;
	color: rgb(68, 68, 68)
}
.footer ul{
	text-decoration-style: none;
	text-align: center;
	margin-top: 15px;
}
.footer ul li{
	display: inline-block;
}
.footer ul li a{
	font-size: 18px;
	font-weight: 700;
	color: rgb(68, 68, 68);
	padding: 0px 10px;
}